* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.nav {
    display: flex;
    background-color: #F55A5A;
    width: 100%;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.nav--title {
    color: #fff;
    font-weight: 500;
    font-size: 14.46px;
    line-height: 18px;
    letter-spacing: -0.075em;
    padding-left: 4px;
}

.logo {
    width: 24px;
    height: 24px;
    color: #918E9B;
    border-radius: 10px;
  
}


.travel--card {
    display: flex;
    max-width: 400px;
    padding: 37px 43px 10px 10px;
    box-shadow: 0 2px 2px -2px gray;
}

.travel--img {
    width: 125px;
    height: 210px;
    border-radius: 5px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.travel--title {
    color: #2B283A;
    font-weight: 700;
    line-height: 30.26px;
    font-size: 25px;
    margin-top: -15px;
    
}

.travel--info {
    padding-left: 19px;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
}

.country {
    margin-left: 10px;
    color: #2B283A;
    font-size: 10.24px;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-top: -12px;
    padding-left: 5px;
}

.google {
    display: flex;
    justify-content: end;
    position: relative;
    top: -24px;
    color: #918E9B;
    font-size: 10.24px;
    line-height: 12px;
} 


.date {
    font-size: 11.24px;
    line-height: 12.39px;
    font-weight: 700;
    display: block;
    margin-top: -7px;
} 

.description {
    font-weight: 400;
    line-height: 15.36px;
    font-size: 12px;
    width: 220px;
    
}

.fa-map-marker {
    color: #F55A5A;
}



@media (min-width: 45em) {
   .travel--card {
    display: flex;
    max-width: 400px;
    padding: 57px 43px 10px 10px;
    box-shadow: 0 2px 2px -2px gray;
    }
    
    .container {
        width: 500px;
        height: 100vh;
        padding-top: 0px;
        margin: 0 auto;
    }
    
}
